/* Colors */
$primary-black: #000;
$primary-white: #fff;
$primary-purple: #7646ff;
$primary-grey: #f1f0f0;
$primary-red: #ff0000;
$secondary-red: #ec5840;
$primary-orange: #FFA500;

$secondary-grey: #f3f3f3;
$border-grey: #c9c1c1;
$text-black: black;

/* Specific Colors */
$color-error: $primary-red;
$color-error-border: $secondary-red;
$color-error-background: #f9eae7;


/* Others */
$radius-s: 2px;
$radius-m: 5px;
$radius-l: 15px;

/* Spacings */
$padding-s: 5px;
$padding-s-plus: 10px;
$padding-m: 15px;
$padding-m-plus: 20px;
$padding-l: 25px;
$padding-l-plus: 30px;
$padding-xl: 40px;
$padding-xl-plus: 50px;

$margin-s: 5px;
$margin-s-plus: 10px;
$margin-m: 15px;
$margin-m-plus: 20px;
$margin-l: 25px;
$margin-l-plus: 30px;
$margin-xl: 40px;
$margin-xl-plus: 50px;