/* Colors */
$primary-black: black;
/* Others */
$radius-s: 2px;
$radius-m: 5px;

/* Spacings */
$padding-s: 5px;
$padding-s-plus: 10px;
$padding-m: 15px;
$padding-m-plus: 10px;
$padding-l: 25px;
$padding-l-plus: 30px;
$padding-xl: 40px;
$padding-xl-plus: 50px;

$margin-s: 5px;
$margin-s-plus: 10px;
$margin-m: 15px;
$margin-m-plus: 10px;
$margin-l: 25px;
$margin-l-plus: 30px;
$margin-xl: 40px;
$margin-xl-plus: 50px;