// @import "~flexboxgrid/css/flexboxgrid.min.css";
@import "./flexbox-grid.scss";
@import "./normalize";

@import "./variables";
@import '~react-redux-toastr/src/styles/index.scss';

// fill in for missing class in flexbox-grid library
.column {
  display: flex;
  flex-direction: column;
}

.full-height {
  height: 100vh;
}

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

body.fontLoaded {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#app {
  background-color: #fafafa;
  min-height: 100%;
  min-width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'OpenSans-Bold';
  margin: 0;
  word-wrap: break-word;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
}

h1 {
  font-size: 29px;
  color: $text-black;
  line-height: 44px;
  font-family: 'OpenSans-Light';
}

h2 {
  font-size: 24px;
  color: $text-black;
  line-height: 34px;
  font-family: 'OpenSans-Light';
}

h3 {
  font-size: 20px;
  color: $text-black;
  line-height: 32px;
  font-family: 'OpenSans-Light';
}

h4 {
  font-size: 18px;
  color: $text-black;
  line-height: 25px;
  font-family: 'OpenSans-Regular';
}

h5 {
  font-size: 15px;
  color: $text-black;
  font-family: 'OpenSans-Light';
}

p, ul {
  font-family: 'OpenSans-Regular';
  font-size: 14px;
  line-height: 20px;
  color: $text-black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  word-wrap: break-word;
}

p,
label {
  font-family: Georgia, Times, 'Times New Roman', serif;
  line-height: 1.5em;
}

.display-none {
  display: none !important;
}
